<footer class="fixed-bottom d-flex flex-wrap justify-content-between align-items-center p-3 border-top">
    <p class="col-md-4 mb-0 text-light">© 2025</p>

    <a href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a routerLink="./vehicule" class="nav-link px-2 text-light text-capitalize">vehicule</a>
        </li>
        <li class="nav-item"><a routerLink="./voiture" class="nav-link px-2 text-light text-capitalize">voiture</a></li>
        <li class="nav-item"><a routerLink="./camion" class="nav-link px-2 text-light text-capitalize">camion</a></li>
        <li class="nav-item"><a routerLink="./avion" class="nav-link px-2 text-light text-capitalize">avion</a></li>
        <li class="nav-item"><a routerLink="./tata" class="nav-link px-2 text-light text-capitalize">404</a></li>
    </ul>
</footer>