@if (showMessage) {
<div class="d-flex my-4">
    <button class="btn btn-danger mx-auto">L'avion a bien été supprimé !</button>
</div>
}

<div class="card w-75 shadow-sm my-4 d-flex flex-row mx-auto">
    <div class="w-25 card-group d-flex flex-column bg-dark p-2">
        <h6 class="text-light text-center">En stock : {{ getStockDisponible() }} avion(s)</h6>
        @for (avion of avions; track avion.name) {
        <div class="card border p-2 mt-2" [ngClass]="avion.disponibilite ? 'bg-success-subtle' : 'bg-danger-subtle'">
            <img src="{{avion.img}}" class="card-img-top" alt="...">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                    [checked]="avion.disponibilite" (change)="modifier(avion.id, !avion.disponibilite)">
                <label class="form-check-label" for="flexSwitchCheckDefault"><small>{{avion.disponibilite ?
                        "Disponible"
                        : "Non disponible."}}</small></label>
            </div>
            <div class="d-flex justify-content-center gap-2">
                <button (click)="supprimer(avion.id)" class="btn btn-danger btn-sm">x</button>
                <button (click)="afficher(avion.id)" class="btn btn-dark btn-sm">en savoir +</button>
            </div>
        </div>
        }@empty {
        <p>There are no avions.</p>
        }
    </div>

    <div class="w-75 card-body mx-auto">
        <img src="{{details.img}}" class="card-img-top h-50 object-fit-contain" alt="...">
        <h3 class="card-title">{{details.name}}</h3>
        <p class="card-text">{{details.description}}</p>
    </div>
</div>