@if (showMessage) {
<div class="d-flex my-4">
    <button class="btn btn-danger mx-auto">Le camion a bien été supprimé !</button>
</div>
}

<div class="d-flex my-4">
    <button class="btn btn-dark text-uppercase mx-auto fs-6" (click)="getCamions()">afficher les camions</button>
</div>

<div class="card-group w-50 mx-auto gap-3 my-4">
    @for (camion of camions; track camion.name) {
    <div class="card border" style="width: 33.33%;">
        <img src="{{camion.img}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-capitalize">{{camion.name}}</h5>
            <p class="card-text">{{camion.description}}</p>
            <!-- app-button [idElement]="camion.id" [typeElement]="camion.type"></app-button -->
            <button (click)="deleteCamion(camion.id)" class="btn btn-dark text-uppercase mx-2">delete</button>
        </div>
    </div>
    }@empty {
    <p>There are no camions.</p>
    }
</div>